@import "tailwindcss";

@theme inline{

  --font-syne: var(--font-syne-raw);
  --font-poppins: var(--font-poppins-raw);
  --font-open-sans: var(--font-open-sans-raw);

  --color-camel-500: #EF582B;
  --color-black-iconography: #1B1918;
}